/* Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Header animation */
@keyframes fade-up {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header .navbar.animate {
    animation: fade-up 0.5s ease-in;
}


/* ToolTip */

.tooltip {
    line-height: 1rem;
    border-radius: .5rem !important;
}

.tooltip-inner {
    line-height: 1rem;
}

.tooltip .tooltip-arrow {
    visibility: hidden !important;
}

/* menu */

#navbarContent .nav-item {
    font-family: Quicksand, sans-serif;
}

/* hero */

#hero {
    min-height: 60vh;
    line-height: 2rem;
    max-width: 100%;
}



#hero .content.animate {
    animation: fade-left 1s ease-out;
}

#hero .hero-bottom-svg {
    opacity: 0.5;
    position: absolute;
    bottom: -50px;
    left: -150px;
}

#hero .intro {
    font-family: Antonio, sans-serif;
    font-size: clamp(18px, 6vw, 18px);
    opacity: 0.6;
}

#hero h2 {
    font-size: clamp(40px, 8vw, 80px);
    color: var(--primary-color) !important;
}

#hero h3 {
    font-size: clamp(40px, 8vw, 60px);
    /* color: var(--primary-color) !important; */
    opacity: 0.5;
}

#hero p {
    margin: 20px 0px 0px;
    max-width: 640px;
    opacity: 0.8;
}

#hero .image img {
    /* box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16); */
    padding: 0;
    border: 0;
    /* border: 2px solid var(--secondary-color); */
    border-radius: 1rem;
}

#hero .image.animate img {
    animation: fade-in 1s ease-out;
    transition: box-shadow 0.3s;
}

#hero .image img:hover {
    cursor: pointer;
}

#hero .image.animate img:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
    filter: contrast(1.2);
    cursor: pointer;
}

#hero a.btn.social-icon {
    color: var(--primary-color) !important;
    line-height: 0%;
    border-radius: 50%;
    margin-top: 50px;
    padding: 0.7rem;
    border: 1px solid var(--primary-color);
    transition: none;
}

#hero a.btn.social-icon img {
    width: 1em;
}

#hero a.btn.social-icon:hover {
    opacity: 0.8;
}

#hero a.btn {
    font-family: Quicksand, sans-serif;
    margin-top: 50px;
    padding: 0.7rem 1.75rem;
    border: 1px solid var(--primary-color);
    color: var(--text-color) !important;
    border-radius: .75rem;
    transition: none;
}

#hero a.btn:focus {
    box-shadow: none;
}

#hero a.btn:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
    opacity: 0.9;
    transform: scale(1.05);
}

#hero a.btn.social-icon:hover {
    background-color: var(--secondary-color) !important;
    opacity: 0.7;
    transform: scale(1.05);
}

#hero .hero-content {
    font-family: Quicksand, sans-serif;
}

#hero .hero-content>a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color) !important;
}

#hero .hero-content>a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#hero .hero-content>a:hover::after,
#hero .hero-content>a:focus::after,
#hero .hero-content>a:active::after {
    width: 100%;
}

#hero .quote {
    float: right;
    width: 100%;
}

#hero .hero-quote {
    font-family: Quicksand, sans-serif;
    text-align: right;
    font-style: italic;
    font-weight: 900;
    color: var(--sectionHeader-color) /*Rust*/
}

#hero .hero-quote-author {
    font-family: Quicksand, sans-serif;
    text-align: right;
    font-style: italic;
    font-weight: 700;
    color: var(--sectionHeader-color)
}

.content {
    font-family: Quicksand, Helvetica, sans-serif;
}

.section-header {
    font-family: Antonio, Helvetica, sans-serif;
    color: var(--sectionHeader-color);
}

.img-thumbnail {
    background-color: transparent;
}


/* Code By Webdevtrick ( https://webdevtrick.com) */
.shimmer {
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    /* Standard syntax (must be last) */
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}


/* about me */
#about .header1 {
    float: right;
    display: block;
}

#about .header2 {
    float: left;
    display: block;
}

#about .row {
    width: 100%;
}



#about .image img {
    /* box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16); */
    transition: box-shadow 0.3s;
    padding: 0;
    border: 0;
}

/* #about .image img:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
} */

#about ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}

#about ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#about ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#about .content {
    font-weight: 500;
    opacity: 0.9 !important;
    line-height: 1.7rem !important;
}

#about a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color) !important;
}

#about a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#about a:hover::after,
#about a:focus::after,
#about a:active::after {
    width: 100%;
}

/* experience */

#experience h3 {
    color: var(--text-secondary-color) !important;
}

#experience * {
    background-color: transparent !important;
}

#experience .tab-pane>* {
    opacity: 0.9;
}

#experience .tab-pane small {
    opacity: 0.8;
}

#experience .tab-pane ul {
    padding-top: 1%;
    padding-bottom: 1%;
}

#experience .experience-container .tab-content>.tab-pane p {
    padding: 1% 0;
    margin: 0;
}

#experience .experience-container {
    background-color: var(--secondary-color) !important;
    border-radius: .75rem;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
}

#experience .nav-item .nav-link {

    color: var(--text-color) !important;
    border-bottom: 2px solid transparent;
    border-radius: 0%;
    transition: none;
    cursor: pointer;
}

#experience .nav-item .nav-link.active {
    color: var(--text-color) !important;
    border-bottom: 2px solid var(--primary-color);
    opacity: 0.8;
}

#experience .nav-item .nav-link.active:hover {
    transition: none !important;
}

#experience .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--primary-color);
    opacity: 0.8;
}

#experience a {
    opacity: 0.9;
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color) !important;
}

#experience a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#experience a:hover::after,
#experience a:focus::after,
#experience a:active::after {
    width: 100%;
}

#experience .experience-container .tab-content .tab-pane ul {
    overflow: hidden;
    list-style: none;
    margin-bottom: 0;
}

#experience .experience-container .tab-content .tab-pane ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

#experience .experience-container .tab-content .tab-pane ul li::before {
    content: "▹";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a::after {
    display: block;
    width: auto;
    height: auto;
    bottom: 0em;
    background-color: transparent;
    transition: none;
    opacity: 1;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn {
    border: 1px solid var(--primary-color);
    border-radius: .75rem;
    transition: none;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn:focus {
    box-shadow: none;
}

#experience .experience-container .tab-content .tab-pane .featuredLink a.btn:hover {
    color: var(--text-color) !important;
    opacity: 0.7;
}

/* Education */

#education .container>h3 {
    color: var(--text-secondary-color) !important;
}

#education .row .index {
    opacity: 0.8;
    padding: 13px 20px;
    line-height: 0%;
    border-radius: 50%;
    max-height: 50px;
    z-index: 2;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
}

#education .card * {
    background-color: var(--secondary-color) !important;
}

#education .card {
    border-radius: 1.5rem;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    border: 2px solid var(--text-secondary-color) !important;
    transition: box-shadow .2s linear, opacity .2s linear;
    transition: transform 0.2s;
}

#education .card .card-body {
    border-radius: 1.5rem;
    padding: 2rem;
}

@media all and (max-width:768px) {
    #education .card .card-body {
        padding: 2rem 1rem;
    }
}

#education .card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 11px rgb(15 80 100 / 16%);
    border: 2px solid var(--primary-color) !important;
}

#education .card .card-body .education-content a {
    color: var(--primary-color) !important;
    text-decoration: none;
    opacity: 0.9;
}

#education .card .card-body>a h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color) !important;
}

#education .card .card-body>a h6::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#education .card .card-body>a h6:hover::after,
#education .card .card-body>a h6:focus::after,
#education .card .card-body>a h6:active::after {
    width: 100%;
}

#education .card .card-body a.btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: .75rem;
    box-shadow: none;
    transition: none;
}

#education .card .card-body a.btn:hover {
    opacity: 0.8;
}

/* achievements */

#services .card-title {
    font-family: Antonio, sans-serif;
    display: flex;
    justify-content: center;
}

#services .subtitle {
    font-family: Quicksand, sans-serif;
}

#services a {
    text-decoration: none;
}

/* #services h3 {
    color: var(--text-secondary-color) !important;
} */

#services .card {
    background-color: var(--secondary-color) !important;
    border-radius: 1rem;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
    /* transform: translate3d(0, 0, 0); */
    transition: box-shadow .2s linear, opacity .2s linear;
    border: 2px solid transparent;
}

#services a.card {
    cursor: alias;
}

#services .card h5 {
    color: var(--text-color) !important;
    opacity: 0.9;
}

#services .card:hover {
    border: 2px solid var(--text-color);
    transition: .3s;
}

#services .card:focus {
    border: 2px solid var(--text-color);
    transition: .3s;
}

#services .card-text {
    background-color: var(--secondary-color) !important;
    color: var(--text-secondary-color) !important;
}

/* contact */

#contact .subtitle {
    font-family: Quicksand, sans-serif;
}

/* #contact h3 {
    color: var(--text-secondary-color) !important;
} */

#contact .btn {
    transition: none;
    transition: opacity 0.3s;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

#contact .btn:hover {
    opacity: .7;
}

#contact .btn:focus {
    box-shadow: none !important;
}