* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 1200px;
    height: 100%;
    background-color: #F8f8f8;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 100%;
    width: 20%;
    float: left;
    background: linear-gradient(to bottom, #4ad391 33%, #4cc4ef 100%);
    text-align: center;
}

footer {
    margin-top: 64px;
    margin-bottom: 32px;
    text-align: center;
}

p {
    font-family: 'Raleway', serif;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 160%;
    color: #000100;
}

h1 {
    font-size: 50px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Sarala', cursive;
    color: #000100;
}

h2 {
    font-size: 32px;
    font-family: 'Sarala', cursive;
    color: #000100;
    text-align: center;
}

img {
    border-radius: 0.25em;
    width: 100%;
}

iframe {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    color: #44E3C1;
}

#homepage {
    column-gap: 24px;
    width: 80%;
    margin-left: 25%;
    /*clear: left;*/
    font-family: 'Quicksand', cursive;
}

#photo-grid {
    margin-top: 16px;
    column-count: 3;
    column-gap: 24px;
}

#photo-grid img {
    margin-top: 24px;
}

.imageSubtext {
    font-size: 12px;
}

.contact {
    text-decoration: none;
    font-size: 18px;
}

.profile {
    width: 126px;
    margin-top: 15%;
    border-radius: 100%;
    border: 1px solid #f7f7f7;
}

nav {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'Quicksand', cursive;
}

nav a {
    color: white;
}

